body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Changed to flex-start to position elements at the top */
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
    color: #333;
    padding-top: 20px; /* Optional padding for spacing from the top */
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    max-width: 900px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.sidebar {
    display: flex;
    justify-content: space-around;
    background: #f0f0f0;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #ddd;
}
.sidebar div {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.sidebar div:hover,
.sidebar div.active {
    background-color: #ddd;
}
.content {
    padding: 20px;
    width: 100%;
    height: auto;
    max-height: 70vh; /* 윈도우 높이의 70%로 설정 */
    overflow-y: auto;
    box-sizing: border-box;
}
.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.content p, .content h2, .content h3 {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.input-form {
    margin-top: 20px;
}
.input-form input {
    border: 2px solid #6A11CB;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}
.input-form input:focus {
    outline: none;
    border-color: #2575FC;
    box-shadow: 0 0 8px rgba(37, 117, 252, 0.2);
}
.github-icon {
    color: #6A11CB;
    margin-left: 10px;
    transition: color 0.3s;
}
.github-icon:hover {
    color: #2575FC;
}
.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6A11CB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.back-button:hover {
    background-color: #2575FC;
}